{% extends "base.html" %}
{% block header %}{% endblock header %}

{% block smalltitle %} Customers <span class='label label-info label-small'>{{ vehicles.count }}</span> {% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% for message in messages %}
            <h4{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h4>
        {% endfor %}

        <div class="widget">
            <div class="widget-body">
                <a href="{% url 'order:vehicle_create' %}"><button type="button" class="btn btn-primary"><i class=" fa fa-plus"></i> Create a New</button></a>
                <hr/>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name Of Vehicle</th>
                            <th>Driver</th>
                            <th>Vehicle Number</th>
                            <th>Capacity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for vehicle in vehicle_list %}
                        <tr>
                          <td scope="row">{{ forloop.counter }}</td>
                          <td>{{ vehicle.name }}</td>
                          <td>{{ vehicle.driver }}</td>
                          <td>{{ vehicle.number }}</td>
                          <td>{{ vehicle.capacity }}</td>
                          <td>
                          <a class="btn btn-info btn-xs" href="#">
                              <i class=" fa fa-edit"></i> Edit
                          <a/>
                          <a class="btn btn-danger btn-xs" href="#">
                              <i class=" fa fa-trash"></i> Delete
                          <a/>
                      </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
